<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkilliantTheme">
        <activity android:name=".activity.notepad.NoteDetailActivity"
            android:parentActivityName=".activity.notepad.NoteListActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/DarkilliantNoToolbarTheme" ></activity>
        <activity android:name=".activity.notepad.NoteListActivity"
            android:theme="@style/DarkilliantNoToolbarTheme" />
        <activity
            android:name=".activity.country.CountryListActivity"
            android:label="@string/title_activity_list"/>
        <activity android:name=".activity.other.Details" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>